#body
{
	font-family: Franklin Gothic Book;
	width: 480px;
	margin: auto;
}
a
{
	font-variant: small-caps;
}
#nav
{
	text-align: center;
	font-family: Franklin Gothic Book;
	font-size: 16px;
	width: 480px;
}
a:link
{
	color: black;
}
#mission
{
	margin-top: 30px;
	text-align: center;
	color: maroon;
	width: 470px;
	border: 5px dashed pink;
	position: relative;
}
p
{
	font-family: Franklin Gothic Book;
	padding: 10px;
}
#menu
{
	background-color: #ffe6e6;
	padding-top: 10px;
	padding-left: 10px;
	width: 470px;
	height: 1220px;
}
p
{
	float: right;
	font-size: 15px;
	width: 330px;
	margin-left: -50px;
	margin-right: -20px;
}
#about
{
	font-family: Franklin Gothic Book;
	font-size: 16px;
	width: 400px;
	text-align: center;
}
#reviews
{
	font-family: Franklin Gothic Book;
	font-size: 16px;
	width: 400px;
	text-align: center;
}
#careers
{
	font-family: Franklin Gothic Book;
	font-size: 16px;
	width: 400px;
	text-align: center;
}
#footer
{
	text-align: center;
	font-family: Franklin Gothic Book;
	font-size: 16px;
	width: 480px;
	clear: both;
}